<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hpt.lottoadmin">

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo_lotto"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo_lotto"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Feedback"></activity>
        <activity android:name=".AddWinner" />
        <activity android:name=".Winners" />
        <activity android:name=".Sales" />
        <activity android:name=".Members" />
        <activity android:name=".AddScheme" />
        <activity android:name=".Schemes" />
        <activity android:name=".Home" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>